<!-- Content Heading -->
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <!-- Main Message -->
        <%# messages() %>

            <!-- Display inventory items -->
            <%- div %>